<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">

<link rel='stylesheet' href='/stylesheets/style.css' />

  <title>Glaze CookBook</title>
</head>
<body>
  <header id="name">
    <div id="glaze">Glaze</div>
    <div id="cookbook">Cookbook</div>
  </header>
  <div class="headerPics">
  <img id="one" src="/images/oneScreenshot.png">
  <img id="two" src="/images/twoScreenshot.png">
  <img id="three" src="/images/threeScreenshot.png">
  </div>
  <nav id="nav">
    <a href="/glazes">All Glazes</a>
    <% if (user) { %>
      <a href="/glazes/new">Add Glaze</a>
      <a href="/logout" class="logout">Log Out</a>
    <% } else { %>
      <a href="/auth/google" class="login">Login<img src="https://i.imgur.com/FHjYyi0.png"></a> 
    <% } %>
  </nav>
  <main>

