body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin : 0;
}

a {
  color: #00B7FF;
}
.login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 35px;
}
.logout {
  padding: 10px;
}

.login img {
  height: 2.5vmin;
  margin-top: .5vmin;
}
.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}
#name {
  font-size: 5vmin;
}
.headerPics {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
}

#one, #two, #three  {
  height:6vmin;
  width: 21vmin;
  margin: -8vmin 0;
}
#glaze {
  font-family: 'DM Serif Display', serif;
  font-size: 4vmin;
  color: #a75414;
}

#cookbook {
  font-family: 'DM Serif Display', serif;
  font-size: 6vmin;
  color: #a75414;
  margin-top: -3.3vmin;
  margin-left: 20px;
}
.ingredients {
  display: flex;
  justify-content: center;
  font-family: 'DM Serif Display', serif;
  font-size: 6vmin;
  color: rgb(66, 95, 66);
  border-color: rgb(66, 95, 66);
  border-style: solid;
  border-radius: 20px;
  margin-top: 0;
}
#nav > a {
  color: white;
  font-size: 2vmin;
  text-decoration: none;
}

#nav {
  /* margin-top: 1vmin; */
  background-color: rgb(71, 130, 71, 0.5);
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: rgb(14, 51, 14);
  font-size: 2.2vmin;
  
}
th, td {
  background-color: #f1f1f1;
}
#number, #color, #brand {
  text-align: center;
  color: rgb(22, 80, 22);
}
td {
  padding: 3vmin;
}
.show-page {
  font-family: 'DM Serif Display', serif;
  font-size: 3vmin;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1.8vmin;
  padding-left: 8vmin;
  color: rgb(66, 95, 66);
  background-color: #f1f1f1;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);

}
#showTable {
  margin-top: 4vmin;
}
.space {
 padding-right: 20px;
}
.reviews-header {
  font-family: 'DM Serif Display', serif;
  font-size: 3vmin;
  color: #0b4862;

}
#add-review-form {
  font-family: 'DM Serif Display', serif;
  background-color: #f1f1f1;
  margin-right: 130vmin;
  font-size: 2.5vmin;
  padding-left: 1vmin;
  margin-top: -1vmin;
  color: #0b4862;
  padding: 4vmin;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.review-table > th,td {
  
  font-family: 'DM Serif Display', serif;
}



/* #pots {
  height: 100vmin;
  width: 100%;
  margin-top: -10px;
} */
.img {
  /* background-image: url("https://media.istockphoto.com/id/1470984220/photo/ceramic-jar-wood-table-in-warm-tone.jpg?s=612x612&w=0&k=20&c=6rPzJg4-z_3lrIneAffi0uMKzf_vtb58BPmTEpsoYn0=") ; */
  background-image: url("https://images.unsplash.com/photo-1597696929736-6d13bed8e6a8?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cG90dGVyeXxlbnwwfHwwfHx8MA%3D%3D") ;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  
  

}

.reviews-form {
  font-family: 'DM Serif Display', serif;
  font-size: 3vmin;
  color: #0b4862;
}
.new-header {
  display: flex;
  justify-content: center;
  font-family: 'DM Serif Display', serif;
  font-size: 6vmin;
  color: rgb(66, 95, 66);
  border-color: rgb(66, 95, 66);
  border-style: solid;
  border-radius: 20px;
  margin: 0 25vmin;
}
.new-form {
  font-family: 'DM Serif Display', serif;
  font-size: 4.5vmin;
  margin: .5vmin 25vmin;
  padding: 5vmin;
  border-radius: 20px;
  border: 3px solid rgb(66, 95, 66);
  color: rgb(66, 95, 66);
  padding-bottom: 15vmin;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.button {
  background-color: #f1f1f1;
  border: 1px solid rgb(66, 95, 66);
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.details {
  color: rgb(117, 169, 117);
}
.login2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 35px;
  padding-left: 100vmin;
  font-family: 'DM Serif Display', serif;
}