body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin : 0;
}

a {
  color: #00B7FF;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}
.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}
#name {
  font-size: 5vmin;
}
.headerPics {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
}

#one, #two, #three  {
  height:6vmin;
  width: 21vmin;
  margin: -120px 0;
}
#glaze {
  /* font-family: 'Courgette', cursive; */
  font-family: 'DM Serif Display', serif;
  font-size: 4vmin;
  color: #a75414;
}

#cookbook {
  font-family: 'DM Serif Display', serif;
  font-size: 6vmin;
  color: #a75414;
  margin-top: -30px;
  margin-left: 20px;
}
