body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin : 0;
}

a {
  color: #00B7FF;
}
.login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 35px;
}
.logout {
  
  padding: 10px;
  /* display: flex;
  justify-content: flex-end; */
}

.login img {
  height: 2.5vmin;
  margin-top: .5vmin;
}
.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}
#name {
  font-size: 5vmin;
}
.headerPics {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
}

#one, #two, #three  {
  height:6vmin;
  width: 21vmin;
  margin: -8vmin 0;
}
#glaze {
  /* font-family: 'Courgette', cursive; */
  font-family: 'DM Serif Display', serif;
  font-size: 4vmin;
  color: #a75414;
}

#cookbook {
  font-family: 'DM Serif Display', serif;
  font-size: 6vmin;
  color: #a75414;
  margin-top: -3.3vmin;
  margin-left: 20px;
}
.ingredients {
  display: flex;
  justify-content: center;
  font-family: 'DM Serif Display', serif;
  font-size: 6vmin;
  color: rgb(66, 95, 66);
  border-color: rgb(66, 95, 66);
  border-style: solid;
  border-radius: 20px;
  margin-top: 0;
}
#nav > a {
  color: white;
  font-size: 2vmin;
  text-decoration: none;
  /* margin-top: -3.5vmin; */
}

#nav {
  /* margin-top: 1vmin; */
  background-color: rgb(71, 130, 71, 0.5);
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}


